.iconsSection {
    position: fixed;
    width: 100%;
    bottom: 90px;
    left: 190px;
}

ul {
    display: flex;
    flex-wrap: wrap; 
}

.iconDiv {
    display: flex;
    width: 65px;
    height: 65px;
    background-color: #50535d;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    transition: transform 0.3s ease;
}

.iconDiv:hover {
    transform: scale(1.1);

}

.icon a svg {
    width: 45px;
    height: 45px;
    fill: #f5f7fa;
    background-color: #50535d;
}

.icon a {
    display: flex;

}

.icon:first{
    padding: 0px 10px;

}