.container {
    display: flex;
    height: 100vh; 
    padding: 30px;
    flex-direction: column;
}

.mainPage {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    overflow: hidden;
}

